---
import { getGuitars, getPosts, getCourse } from '../helpers/api-helper';
import Layout from '../layouts/Layout.astro';
import Course from '../components/Course.astro';
import ListGuitars from '../components/guitars/ListGuitars.astro';
import ListPosts from '../components/posts/ListPosts.astro';

const [guitars, posts, course] = await Promise.all([getGuitars(), getPosts(), getCourse()])

---

<Layout title="GuitarLa" description="GuitarLA, blog, tienda de guitarras, venta de guitarras, cursos">
	<section class="contenedor">
        <h2 class="heading">Tienda</h2>
		<ListGuitars data={guitars.data}/>
	</section>
	<Course courseData={course.data.attributes}/>
	<section class="contenedor">
        <h2 class="heading">Nuestro blog</h2>   
		<ListPosts data={posts.data}/>
	</section>
</Layout>

<style>
	
</style>
